[submodule "extensions/export_ensemble"]
	path = extensions/export_ensemble
	url = git://github.com/symphonycms/export_ensemble.git
[submodule "extensions/markdown"]
	path = extensions/markdown
	url = git://github.com/symphonycms/markdown.git
[submodule "extensions/maintenance_mode"]
	path = extensions/maintenance_mode
	url = git://github.com/symphonycms/maintenance_mode.git
[submodule "extensions/selectbox_link_field"]
	path = extensions/selectbox_link_field
	url = git://github.com/symphonycms/selectbox_link_field.git
[submodule "extensions/jit_image_manipulation"]
	path = extensions/jit_image_manipulation
	url = git://github.com/symphonycms/jit_image_manipulation.git
[submodule "extensions/profiledevkit"]
	path = extensions/profiledevkit
	url = git://github.com/symphonycms/profiledevkit.git
[submodule "extensions/debugdevkit"]
	path = extensions/debugdevkit
	url = git://github.com/symphonycms/debugdevkit.git
[submodule "extensions/xssfilter"]
	path = extensions/xssfilter
	url = git://github.com/symphonycms/xssfilter.git
[submodule "extensions/association_field"]
	path = extensions/association_field
	url = https://github.com/symphonists/association_field.git
[submodule "extensions/association_ui_editor"]
	path = extensions/association_ui_editor
	url = https://github.com/mazedigital/association_ui_editor.git
[submodule "extensions/association_ui_selector"]
	path = extensions/association_ui_selector
	url = https://github.com/mazedigital/association_ui_selector.git
[submodule "extensions/xmlimporter"]
	path = extensions/xmlimporter
	url = https://github.com/symphonists/xmlimporter.git
[submodule "extensions/rest_api"]
	path = extensions/rest_api
	url = https://github.com/symphonists/rest_api.git
[submodule "extensions/reflectionfield"]
	path = extensions/reflectionfield
	url = https://github.com/symphonists/reflectionfield.git
[submodule "extensions/order_entries"]
	path = extensions/order_entries
	url = https://github.com/symphonists/order_entries.git
[submodule "extensions/entry_relationship_field"]
	path = extensions/entry_relationship_field
	url = https://github.com/DeuxHuitHuit/entry_relationship_field.git
[submodule "extensions/dashboard"]
	path = extensions/dashboard
	url = https://github.com/symphonists/dashboard.git
[submodule "extensions/remote_datasource"]
	path = extensions/remote_datasource
	url = https://github.com/symphonycms/remote_datasource.git
[submodule "extensions/cache_management"]
	path = extensions/cache_management
	url = https://github.com/DeuxHuitHuit/cache_management.git
[submodule "extensions/output_field"]
	path = extensions/output_field
	url = https://github.com/symphonists/output_field.git
[submodule "extensions/cacheabledatasource"]
	path = extensions/cacheabledatasource
	url = https://github.com/symphonists/cacheabledatasource.git
[submodule "extensions/search_index"]
	path = extensions/search_index
	url = https://github.com/symphonists/search_index.git
[submodule "extensions/uniqueindex"]
	path = extensions/uniqueindex
	url = https://github.com/animaux/uniqueindex.git
[submodule "extensions/uniqueuploadfield"]
	path = extensions/uniqueuploadfield
	url = https://github.com/michael-e/uniqueuploadfield.git
[submodule "extensions/publish_tabs"]
	path = extensions/publish_tabs
	url = https://github.com/symphonists/publish_tabs.git
[submodule "extensions/author_roles"]
	path = extensions/author_roles
	url = https://github.com/nimanthaharshana/author_roles.git
[submodule "extensions/s3upload_field"]
	path = extensions/s3upload_field
	url = https://github.com/symphonists/s3upload_field.git
[submodule "extensions/field_metakeys"]
	path = extensions/field_metakeys
	url = https://github.com/brendo/field_metakeys.git
